<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <title>title</title>
<!-- <link rel="stylesheet" href="style.css">-->
 <script src="/keyserver/script"></script>
 <script src="/keyserver/load/jquery-3.5.1.min"></script>


</head>
<body>
hello content

<textarea id='my_area' maxlength="2000" cols="80"  rows="30">
XXXXXXXX
</textarea>

<script>
 get_content();

</script>
</body>
</html>