<div id='{{componentName}}' class="visual_info_bar position_info_bar" >
  <button class="visual_menu_control position_menu_control"
          onclick="CLoader.findObject('{{componentName}}').on_click(event)">menu control</button>
  <button class="visual_menu_control position_menu_control"
          onclick="CLoader.findObject('{{componentName}}').on_click_direct(event)">menu control 2</button>
  <div>mon image</div>
</div>


